:root.halloween{
	--background-color: #000;
	--header-active-background-color: rgba(255, 153, 0, 0.55);
	--header-hover-background-color: rgba(255, 166, 0, 0.13);
	--input-background-color: #0a0a0a;
	--border-color: #525252;
	--text-color: #ffffff;
	--hover-text-color: rgba(255, 255, 255, 0.49);
	--active-text-color: rgba(255, 255, 255, 0.81);
	--utility-background-color: rgb(22, 22, 22);
	--utility-shadow-color: rgba(66, 66, 66, 0.86);
	--hr-background: rgba(160, 160, 160, 0.274);
	--navbar-background-color: rgb(22, 22, 22);
	--page-text-color: rgba(82, 82, 82, 0.97);
	--shortcut-background-color: #fff;
	--shortcut-box-shadow: 0 0 20px 1px #fff;
	--image-outline-color: #a200ff;
	--button-background-color: #cc00ff;
	--button-gradient-color: linear-gradient(
		304deg,
		rgb(245, 110, 0) 0%,
		#ffae00 100%
	);
	--scrolltop-background-color: rgba(32, 32, 32, 0.37);
	--scrolltop-backdrop-filter: blur(10px);
	--random-btn-background-color: #0a0a0a;
	--random-btn-hover-background-color: rgb(25, 25, 25);
	--random-btn-active-background-color: rgb(15, 15, 15);
	--settingsection-background-color: #0c0c0c;
	--settingsection-background-color-hover: #101010;
	--link-hover-color: #e8962a;
	--settingsection-hr-background: rgba(255, 255, 255, 0.22);
	--button-reg-background-color: rgb(22, 22, 22);
	--button-reg-hover-background-color: rgb(25, 25, 25);
	--button-reg-active-background-color: rgb(15, 15, 15);
	--dropdown-background-color: rgb(22, 22, 22);
	--dropdown-hover-background-color: rgb(25, 25, 25);
	--panic-key-successful-color: #24b95b;
	--panic-key-failed-color: #e20b41;
	--failtoast-background: rgb(255, 0, 0);
	--failtoast-gradient: linear-gradient(
		165deg,
		rgba(255, 0, 0, 0.15) 0%,
		rgba(255, 255, 255, 0) 45%
	);
	--toast-background: rgb(43, 255, 0);
	--toast-gradient: linear-gradient(
		165deg,
		rgba(0, 255, 0, 0.145) 0%,
		rgba(255, 255, 255, 0) 45%
	);
	--slider-background-color: #d84f68;
	--slider-box-shadow: inset 1px 1px 2px 0px #ff7ca7;
	--checkbox-background-color: rgb(255, 169, 250);
	--checkbox-gradient: linear-gradient(
		126deg,
		rgba(255, 169, 250, 1) 0%,
		rgba(73, 24, 255, 1) 100%
	);
	--password-background-color: #252525;
	--password-hover-background-color: #181818;

	/* Widget */
	--color-header: '#fff';
	--accent-color: linear-gradient(
		101deg,
		#4400ff7e 0%,
		rgba(242, 0, 255, 0.336) 100%
	) !important;
	--color-header: #ff0000 !important;
}